.aboutus{
    background-image: url("https://www.ingridkuhn.com/themes/woof!/img/jumbotron.jpg");
    height: 250px;
    margin-top:92px;
    width: 100%;
    display: inline-block;
    margin-top:92px;
    width: 100%;
    display: inline-block;
}