body{
    background-image: url("https://townsquare.media/site/33/files/2015/04/Golden-Retreiver-Puppy.jpg");
        height: 100%;
        
        width: 100%;
        display: inline-block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        background-position:center;
  }
.container {
  position: relative;
  width: 470px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px; 
  margin-left: 770px; 
  
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.secure-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: green;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button1 {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
 
}
.button3:hover, .button2:hover, .button4:hover, .button5:hover {
  
  border: 1px solid #b2adad;
 
  cursor: pointer;
  background-color: #e7e0e0ed;
 
}

.button2 {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  margin-bottom: 15px;
  width: 218px;
}
.button3 {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  margin-bottom: 15px;
  width: 218px;
}
.button4 {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  width: 218px;
  margin-bottom: 15px;
}
.button5 {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  width: 218px;
  margin-bottom: 15px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.button1:hover{
  
  border: 1px solid #760e6c;
 
  background-color: rgb(234, 170, 222);
  
}

.other-option {
  
  padding: 10px;
  
  border-radius: 5px;
  
  text-align: center;
  opacity: 0.6;
  color: #2b2929;
}

.other-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}