.a{
    width: 240px;
    height: 315px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    text-align: center;
    
  }
.h1{
    margin-left: 18px;
    margin-right: 10px;
}

.button4{
    color:rgb(161, 108, 42);
    padding: 12px;
    font-size:3vh;
    
    border: none;
    background-color:white;
    
}
.button4:hover{
    background-color: rgb(212, 158, 93);
   color:white;
}

.boxes {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
  }
  